WebService/WindowsForm/WFManagermentFastFood/Service References/FastFoddService/WCFServiceFastFood.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceFastFood" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceFastFood" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Display" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="OrderImportDetails" nillable="true" type="tns:ArrayOfOrderImportDetail" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Storages" nillable="true" type="tns:ArrayOfStorage" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetail" nillable="true" type="tns:ArrayOfOrderDetail" />
  <xs:complexType name="OrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetail" nillable="true" type="tns:OrderDetail" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="tns:UserType" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UserType1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="ArrayOfOrderImportDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderImportDetail" nillable="true" type="tns:OrderImportDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderImportDetail" nillable="true" type="tns:ArrayOfOrderImportDetail" />
  <xs:complexType name="OrderImportDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderImport" nillable="true" type="tns:OrderImport" />
      <xs:element minOccurs="0" name="OrderImportID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderImportDetail" nillable="true" type="tns:OrderImportDetail" />
  <xs:complexType name="OrderImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateImport" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderImportDetails" nillable="true" type="tns:ArrayOfOrderImportDetail" />
      <xs:element minOccurs="0" name="OrderImportID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderImport" nillable="true" type="tns:OrderImport" />
  <xs:complexType name="ArrayOfStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Storage" nillable="true" type="tns:Storage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorage" nillable="true" type="tns:ArrayOfStorage" />
  <xs:complexType name="Storage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storage" nillable="true" type="tns:Storage" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfUserType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserType" nillable="true" type="tns:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserType" nillable="true" type="tns:ArrayOfUserType" />
</xs:schema>